.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px
}

.item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 23%;
    flex: 0 1 23%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 50px 22px 40px 22px;
    margin-top: 65px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .2);
    box-shadow: 0 0 35px rgba(0, 0, 0, .2);
    border-radius: 20px;
    box-sizing: border-box
}

.item+.item {
    margin-left: 10px
}

.img {
    border-radius: 50%;
    -webkit-filter: drop-shadow(0 0 35px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 0 35px rgba(0, 0, 0, .2));
    width: 200px;
    height: 200px
}

.name {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    margin-top: 42px
}

.text {
    font-size: 18px;
    line-height: 144.44444%;
    letter-spacing: .01em;
    margin-top: 19px;
    word-break: break-all
}

@media (max-width:1366px) {
    .img {
        width: 170px;
        height: 170px
    }

    .name {
        font-size: 26px;
        margin-top: 25px
    }

    .text {
        font-size: 16px;
        margin-top: 15px;
    }
}

@media (max-width:1024px) {
    .img {
        width: 130px;
        height: 130px;
        -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, .2));
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, .2));
    }
    .name {
        font-size: 25px;
        margin-top: 22px
    }

    .text {
        font-size: 15px;
        margin-top: 12px;
    }
}

@media (max-width:768px) {
    .img {
        width: 100px;
        height: 100px;
        -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    }

    .name {
        font-size: 20px;
        margin-top: 15px
    }
}

@media (max-width:500px) {
    .img {
        width: 85px;
        height: 85px;
    }

    .name {
        font-size: 18px;
    }

    .text {
        font-size: 12px;
        margin-top: 10px;
    }
}