html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus,
*:active {
  outline: none;
}

nav,
footer,
header,
aside,
section,
article,
details,
figcaption,
figure,
main,
menu,
summary,
time {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: 400;
}

p {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
  border: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.main_inner {
  margin-bottom: 50px;
}

.cource__content-list {
  padding-left: 25px;
}

.course__list-item {
  position: relative;
  color: #5C5C5C;
}

.course__list-item::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -18px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.course__list-item::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.course__list-item+.course__list-item {
  margin-top: 15px;
}

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cource__tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.cource__tab-wrapper .tabs__course {
  margin-top: 0;
}

.tabs__course {
  margin-top: 105px;
}

.tabs__course-link {
  font-size: 24px;
  line-height: 120.83333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #4D9EF8;
  padding: 20px 70px;
  cursor: pointer;
  user-select: none;
}

.cource__level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cource__level-item {
  font-size: 25px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #A0A0A0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  user-select: none;
}

.cource__level-item:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #0491FB;
}

.cource__level-item+.cource__level-item {
  margin-left: 34px;
}

.cource__level-current {
  color: #0491FB;
}

.cource__more {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 120.83333%;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #464646;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.cource__more svg,
.cource__more path {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.cource__more:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #0491FB;
}

.cource__more:hover svg,
.cource__more:hover path {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  fill: #0491FB;
}

.cource__more svg,
.cource__more img {
  width: 37px;
  height: 18px;
  margin-left: 20px;
}

.test__wrapper {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.test__wrapper-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 43px 25px 25px 20px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.test__wrapper-sidebar-mobil {
  display: none;
}

.test__wrapper-body {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 72%;
  flex: 0 1 72%;
  width: 72%;
}

.test__sidebar-box+.test__sidebar-box {
  margin-top: 49px;
}

.test__sidebar-num {
  min-width: 76px;
  min-height: 76px;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;
  color: #4D9EF8;
  background-color: #F5F5F5;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #0491FB;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test__sidebar-num-int {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 47px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #4D9EF8;
  background-color: #F5F5F5;
  border: 2px solid #0491FB;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test__sidebar-num p {
  display: block;
  height: 0;
  margin: 0;
  padding: 50% 25%;
}

.test__sidebar-num p span {
  display: block;
  transform: translate(-50%, -50%);
  padding: 0 3px;
}

.test__sidebar-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120.83333%;
  margin-top: 24px;
}

.test__sidebar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 32px;
}

.est__sidebar-progressWrapper {
  margin-top: 45px;
}

.test__sidebar-subtitle {
  font-weight: 600;
  font-size: 21px;
  line-height: 123.80952%;
}

.test__sidebar-percent {
  font-weight: 600;
  font-size: 21px;
  line-height: 123.80952%;
  padding-left: 10px;
  text-align: right;
  color: #4D9EF8;
}

.test__sidebar-progress {
  height: 7px;
  width: 100%;
  background-color: #DADADA;
  position: relative;
  border-radius: 15px;
  margin-top: 15px;
}

.test__sidebar-progress-activeLine {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 7px;
  width: 20%;
  background-color: #4D9EF8;
  border-radius: 15px;
  transition: all .3s;
}

.test__sidebar-block {
  margin-top: 32px;
}

.test__sidebar-block-open .test__sidebar-block-inner {
  margin-top: 23px;
  height: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-open .test__sidebar-block-box svg,
.test__sidebar-block-open .test__sidebar-block-box img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-open .test__sidebar-block-box svg path,
.test__sidebar-block-open .test__sidebar-block-box img path {
  fill: #EB3624;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__sidebar-block-box svg,
.test__sidebar-block-box img {
  width: 25px;
  height: 23px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-box svg path,
.test__sidebar-block-box img path {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120.83333%;
}

.test__sidebar-block-inner {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.test__sidebar-block-item+.test__sidebar-block-item {
  margin-top: 19px;
}

.test__sidebar-text {
  font-size: 23px;
  line-height: 117.3913%;
  color: #5C5C5C;
}

.test__sidebar-block-check {
  width: 28px;
  height: 28px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #4D9EF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-check img,
.test__sidebar-block-check svg {
  width: 16px;
  height: 12px;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__sidebar-block-check-completed {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.test__sidebar-block-check-completed svg,
.test__sidebar-block-check-completed img {
  opacity: 1;
}

.test__container {
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 35px 45px;
}

.test__container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.test__wrapper-completed {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.test__wrapper-completed-mobil {
  display: none;
}

.test__container-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
}

.test__container-backBtn {
  font-size: 22px;
  line-height: 118.18182%;
  text-align: right;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #5C5C5C;
}

.test__container-text {
  font-size: 22px;
  line-height: 118.18182%;
  margin-top: 19px;
}

.test__container-text span {
  color: #4D9EF8;
  font-weight: 700;
}

.test__ask {
  margin-top: 30px;
}

.test__ask-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0;
}

.test__ask-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 119.23077%;
  color: #4D9EF8;
}

.test__ask-notif {
  padding: 10px;
  border-radius: 125px;
  font-size: 17px;
  line-height: 123.52941%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 17px;
}

.test__ask-notif-red {
  background-color: #EB3624;
  color: #fff;
}

.test__ask-notif-blue {
  background-color: #0491FB;
  color: #fff;
}

.test__ask-question {
  font-weight: 600;
}

.test__ask-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.test__ask-btn {
  max-width: 215px;
  width: 100%;
  min-height: 50px;
}

.test__ask-blueBorder,
.test__ask-red,
.test__ask-blue {
  padding: 5px;
  font-size: 18px;
  line-height: 122.22222%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 302px;
  cursor: pointer;
  user-select: none;
}

.test__ask-blueBorder {
  background-color: #FFF;
  border: 2px solid #4D9EF8;
  color: #4D9EF8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__ask-blueBorder:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #fff;
  background-color: #4D9EF8;
}

.test__ask-blue {
  background: #4D9EF8;
  -webkit-box-shadow: 0px 0px 15px rgba(77, 158, 248, 0.2);
  box-shadow: 0px 0px 15px rgba(77, 158, 248, 0.2);
  color: #fff;
  font-weight: 700;
}

.test__ask-red {
  font-weight: 700;
  color: #FFF;
  background-color: #EB3624;
  -webkit-box-shadow: 0px 0px 15px rgba(235, 54, 36, 0.44);
  box-shadow: 0px 0px 15px rgba(235, 54, 36, 0.44);
}

.test__completed {
  width: 49%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 30px 40px;
}

.test__completed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__completed-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 123.07692%;
  padding-right: 5px;
}

.test__completed-result {
  font-weight: 700;
  font-size: 37px;
  line-height: 121.62162%;
  color: #4D9EF8;
  padding-left: 40px;
}

.test__completed-text {
  font-size: 18px;
  line-height: 122.22222%;
  margin-top: 18px;
}

.test__completed-text span {
  color: #4D9EF8;
  font-weight: 700;
}

.test__completed-endActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px;
}

.test__endActions-btn {
  font-size: 18px;
  width: 48%;
  min-height: 51px;
}

.test__completed-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__completed-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__completed-rating img,
.test__completed-rating svg {
  width: 32px;
  height: 32px;
}

.test__completed-rating img+img,
.test__completed-rating img+svg,
.test__completed-rating svg+img,
.test__completed-rating svg+svg {
  margin-left: 4px;
}

.test__completed-textarea {
  width: 100%;
  height: 120px;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.test__content {
  margin-top: 40px;
}

.test__content-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 123.07692%;
  margin-top: 15px;
}

.test__content-btn {
  margin-top: 44px;
  max-width: 267px;
  width: 100%;
  min-height: 56px;
}

.test__ask-labelRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__ask-labelRadio+.test__ask-labelRadio {
  margin-top: 18px;
}

.test__ask-inputRadio {
  display: none;
}

.test__ask-inputRadio:checked+.test__ask-checkboxRadio::after {
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__ask-checkboxRadio {
  width: 26px;
  height: 26px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 26px;
  flex: 0 0 26px;
  border-radius: 50%;
  border: 2px solid #4D9EF8;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__ask-checkboxRadio::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4D9EF8;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.test__ask-textRadio {
  padding-left: 14px;
  font-size: 18px;
  line-height: 116.66667%;
}

.test__list-item {
  font-size: 16px;
}

.test__list-item::after {
  border: 1px solid #0491FB;
}

.test__list-item::before {
  background-color: #0491FB;
}

.test__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test__info-video iframe,
.test__info-video video {
  -o-object-fit: cover;
  object-fit: cover;
}

.test__info-content {
  margin-left: 50px;
}

.test__info-briefly {
  font-size: 20px;
  line-height: 120%;
  margin-top: 15px;
  letter-spacing: 0.01em;
}

.cource__content-list {
  margin-top: 11px;
}

.test__info-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  margin-top: 20px;
}

.test__info-data {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__data-box {
  width: 64px;
  height: 64px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.test__data-img {
  width: 31px;
  height: 37px;
}

.test__data-container {
  margin-left: 21px;
}

.test__data-text {
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.01em;
}

.test__data-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.01em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  margin-top: 9px;
  display: block;
  color: #4D9EF8;
}

.test__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 53px;
}

.test__info-completed-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.01em;
}

.test__info-completed-wrapper {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test__info-completed-text {
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.01em;
  padding-right: 20px;
}

.test__info-completed-btn {
  width: 143px;
  min-height: 36px;
  font-size: 15px;
}

.test__info-completed-btn+.test__info-completed-btn {
  margin-top: 10px;
}

.test__info-btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50%;
}

.test__info-btn {
  max-width: 229px;
  width: 100%;
  min-height: 50px;
  font-size: 18px;
}

.test__info-btn+.test__info-btn {
  margin-left: 42px;
}

.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.courses__list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
}

.courses__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.courses__item-container {
  font-weight: 600;
  width: 80%;
  padding-right: 15px;
}

.courses__item-level {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #0491FB;
}

.courses__none-items {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #0491FB;
}

.courses__item-title {
  font-size: 25px;
  line-height: 124%;
  color: #5C5C5C;
  margin-top: 10px;
  display: block;
}

.courses__item-favorit {
  width: 65px;
  height: 65px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  border-radius: 50%;
  background: #F5F5F5;
  border: 2px solid #0491FB;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
}

.courses__item-favorit-active {
  background-color: #0491FB;
}

.courses__item-favorit svg,
.courses__item-favorit img {
  width: 21px;
  height: 30px;
  transition: all .3;

}

.courses__item-favorit-active svg,
.courses__item-favorit-active path {
  fill: #fff
}

.courses__item-text {
  font-size: 17px;
  line-height: 123.52941%;
  letter-spacing: 0.01em;
  color: #000;
  margin-top: 15px;
  padding-right: 30px;
}

.courses__item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 19px;
}

.courses__item-footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  padding-right: 15px;
}

.courses__item-footer-inner-fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.courses__item-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}

.courses__item-img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.courses__item-img+.courses__item-img {
  margin-left: 6px;
}

.courses__item-footer-box {
  margin-left: 12px;
}

.courses__item-name {
  font-weight: 600;
  font-size: 19px;
  line-height: 121.05263%;
  color: #5C5C5C;
}

.courses__item-status {
  font-size: 12px;
  line-height: 116.66667%;
  letter-spacing: 0.01em;
  color: #585858;
  margin-top: 5px;
}

.courses__item-btn {
  max-width: 205px;
  width: 100%;
  min-height: 43px;
  font-weight: 600;
  font-size: 17px;
  line-height: 123.52941%;
  color: #fff;
  user-select: none;
}

.cource__more-list {
  margin-top: 73px;
  margin-right: 15px;
}

@media (max-width: 1366px) {
  .cource__content-box {
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 22px 150px 22px 24px;
    margin-top: 28px;
    font-size: 18px;
  }

  .course__list-item+.course__list-item {
    margin-top: 8px;
  }

  .cource__tab-wrapper {
    margin-top: 35px;
  }

  .tabs__course {
    margin-top: 80px;
  }

  .cource__level-item+.cource__level-item {
    margin-left: 24px;
  }

  .cource__level-item {
    font-size: 18px;
  }

  .test__wrapper {
    margin-top: 60px;
  }

  .test__wrapper-sidebar {
    -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    padding: 32px 20px 20px 16px;
  }

  .test__sidebar-box+.test__sidebar-box {
    margin-top: 37px;
  }

  .test__sidebar-num-int {
    width: 64px;
    height: 64px;
    font-size: 35px;
    user-select: none;
  }

  .test__sidebar-num {
    font-size: 32px;
    min-width: 64px;
    min-height: 64px;
    user-select: none;
  }

  .test__sidebar-title {
    font-size: 18px;
    margin-top: 18px;
  }

  .est__sidebar-progressWrapper {
    margin-top: 33px;
  }

  .test__sidebar-subtitle {
    font-size: 16px;
  }

  .test__sidebar-progress {
    margin-top: 11px;
  }

  .test__sidebar-block {
    margin-top: 22px;
  }

  .test__sidebar-block-open .test__sidebar-block-inner {
    margin-top: 16px;
  }

  .test__sidebar-block-box svg,
  .test__sidebar-block-box img {
    width: 19px;
    height: 17px;
  }

  .test__sidebar-block-title {
    font-size: 18px;
  }

  .test__sidebar-block-item+.test__sidebar-block-item {
    margin-top: 13px;
  }

  .test__sidebar-text {
    font-size: 16px;
  }

  .test__sidebar-block-check img,
  .test__sidebar-block-check svg {
    width: 12px;
    height: 8px;
  }

  .test__sidebar-block-check {
    width: 21px;
    height: 21px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21px;
    flex: 0 0 21px;
    margin-left: 8px;
  }

  .test__container {
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 28px 35px;
  }

  .test__container-title {
    font-size: 22px;
  }

  .test__container-backBtn {
    font-size: 16px;
  }

  .test__container-text {
    font-size: 16px;
    margin-top: 16px;
  }

  .test__ask {
    margin-top: 23px;
  }

  .test__ask-title {
    font-size: 19px;
  }

  .test__ask-notif {
    font-size: 12px;
    padding: 8px;
    margin-left: 13px;
  }

  .test__ask-wrapper {
    margin-top: 29px;
  }

  .test__ask-btn {
    font-size: 13px;
    max-width: 155px;
    min-height: 40px;
  }

  .test__completed {
    padding: 25px 32px;
  }

  .test__completed-title {
    font-size: 19px;
  }

  .test__completed-result {
    font-size: 26px;
  }

  .test__completed-text {
    font-size: 13px;
  }

  .test__completed-endActions {
    margin-top: 25px;
  }

  .test__endActions-btn {
    font-size: 13px;
    min-height: 37px;
  }

  .test__completed-rating img+img,
  .test__completed-rating img+svg,
  .test__completed-rating svg+img,
  .test__completed-rating svg+svg {
    margin-left: 3px;
  }

  .test__completed-rating img,
  .test__completed-rating svg {
    width: 23px;
    height: 23px;
  }

  .test__completed-textarea {
    height: 95px;
    padding: 12px;
    margin-top: 14px;
  }

  .test__content {
    margin-top: 32px;
  }

  .test__content-title {
    font-size: 19px;
  }

  .test__content-btn {
    margin-top: 32px;
    max-width: 192px;
    min-height: 40px;
  }

  .test__ask-labelRadio+.test__ask-labelRadio {
    margin-top: 14px;
  }

  .test__ask-checkboxRadio::after {
    width: 11px;
    height: 11px;
  }

  .test__ask-checkboxRadio {
    width: 19px;
    height: 19px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 19px;
    flex: 0 0 19px;
  }

  .test__ask-textRadio {
    font-size: 13px;
    padding-left: 10px;
  }

  .test__list-item {
    font-size: 12px;
  }

  .test__info-video iframe,
  .test__info-video video {
    width: 430px;
    height: 243px;
  }

  .test__info-content {
    margin-left: 37px;
  }

  .test__info-briefly {
    font-size: 15px;
    margin-top: 12px;
  }

  .cource__content-list {
    margin-top: 8px;
  }

  .test__info-subtitle {
    font-size: 12px;
  }

  .test__info-data {
    margin-top: 17px;
  }

  .test__data-box {
    width: 46px;
    height: 46px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 46px;
    flex: 0 0 46px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }

  .test__data-img {
    width: 22px;
    height: 27px;
  }

  .test__data-container {
    margin-left: 15px;
  }

  .test__data-text {
    font-size: 12px;
  }

  .test__data-link {
    font-size: 12px;
    margin-top: 6px;
  }

  .test__info-wrapper {
    margin-top: 48px;
  }

  .test__info-completed-title {
    font-size: 15px;
  }

  .test__info-completed-wrapper {
    margin-top: 13px;
  }

  .test__info-completed-text {
    font-size: 12px;
  }

  .test__info-completed-btn {
    font-size: 11px;
    width: 105px;
    min-height: 26px;
  }

  .test__info-btn+.test__info-btn {
    margin-left: 30px;
  }

  .test__info-btn {
    font-size: 13px;
    width: 168px;
    min-height: 37px;
  }

  .courses__list-item {
    -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 27px;
    margin-top: 35px;
  }

  .courses__item-level {
    font-size: 14px;
  }

  .courses__none-items {
    font-size: 22px;
    margin-top: 25px;
  }

  .courses__item-title {
    font-size: 18px;
    margin-top: 8px;
  }

  .courses__item-favorit svg,
  .courses__item-favorit img {
    width: 15px;
    height: 22px;
  }

  .courses__item-favorit {
    width: 47px;
    height: 47px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47px;
    flex: 0 0 47px;
    border: 1.5px solid #0491FB;
  }

  .courses__item-text {
    font-size: 12px;
    margin-top: 10px;
  }

  .courses__item-footer {
    margin-top: 15px;
  }

  .courses__item-img-box {
    margin-top: 5px;
  }

  .courses__item-img+.courses__item-img {
    margin-left: 5px;
  }

  .courses__item-img {
    width: 34px;
    height: 34px;
  }

  .courses__item-footer-box {
    margin-left: 9px;
  }

  .courses__item-name {
    font-size: 13px;
  }

  .courses__item-status {
    font-size: 8px;
  }

  .courses__item-btn {
    max-width: 149px;
    min-height: 31px;
    font-size: 12px;
  }

  .cource__more-list {
    margin-top: 53px;
  }
}

@media (max-width: 1024px) {
  .title-course {
    font-size: 34px;
  }

  .cource__content-box {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-top: 25px;
    border-radius: 10px;
    padding: 17px 125px 17px 20px;
    font-size: 14px;
  }

  .cource__content-list {
    padding-left: 15px;
  }

  .course__list-item::after {
    width: 8px;
    height: 8px;
  }

  .course__list-item::before {
    width: 4px;
    height: 4px;
  }



  .tabs__course {
    margin-top: 65px;
  }

  .cource__level-item {
    font-size: 16px;
  }

  .course__reviews-img {
    width: 110px;
    height: 110px;
  }

  .cource__more svg,
  .cource__more img {
    display: none;
  }

  .cource__more {
    font-size: 14px;
  }

  .test__wrapper {
    margin-top: 55px;
  }

  .test__wrapper-sidebar {
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    padding: 25px 17px 20px 12px;
  }

  .test__sidebar-box+.test__sidebar-box {
    margin-top: 30px;
  }

  .test__sidebar-num-int {
    width: 52px;
    height: 52px;
    font-size: 28px;
  }

  .test__sidebar-num {
    font-size: 25px;
    min-width: 52px;
    min-height: 52px;
  }

  .test__sidebar-title {
    font-size: 14px;
    margin-top: 14px;
  }

  .est__sidebar-progressWrapper {
    margin-top: 23px;
  }

  .test__sidebar-subtitle {
    font-size: 12px;
  }

  .test__sidebar-percent {
    font-size: 16px;
  }

  .test__sidebar-percent {
    font-size: 12px;
  }

  .test__sidebar-progress {
    margin-top: 9px;
    height: 5px;
  }

  .test__sidebar-progress-activeLine {
    height: 5px;
  }

  .test__sidebar-block {
    margin-top: 17px;
  }

  .test__sidebar-block-open .test__sidebar-block-inner {
    margin-top: 13px;
  }

  .test__sidebar-block-box svg,
  .test__sidebar-block-box img {
    width: 15px;
    height: 14px;
  }

  .test__sidebar-block-title {
    font-size: 14px;
  }

  .test__sidebar-block-item+.test__sidebar-block-item {
    margin-top: 11px;
  }

  .test__sidebar-text {
    font-size: 13px;
  }

  .test__sidebar-block-check img,
  .test__sidebar-block-check svg {
    width: 9px;
    height: 7px;
  }

  .test__sidebar-block-check {
    width: 17px;
    height: 17px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17px;
    flex: 0 0 17px;
    margin-left: 5px;
  }

  .test__container {
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    padding: 22px 28px;
  }

  .test__container-title {
    font-size: 18px;
  }

  .test__container-backBtn {
    font-size: 13px;
  }

  .test__container-text {
    font-size: 13px;
    margin-top: 13px;
  }

  .test__ask {
    margin-top: 18px;
  }

  .test__ask-title {
    font-size: 15px;
  }

  .test__ask-notif {
    font-size: 10px;
    padding: 6px;
    margin-left: 11px;
  }

  .test__ask-wrapper {
    margin-top: 23px;
  }

  .test__ask-btn {
    font-size: 11px;
    max-width: 126px;
    min-height: 35px;
  }


  .test__completed {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    border-radius: 10px;
  }

  .test__completed-title {
    font-size: 15px;
    padding: 0px;
  }

  .test__completed-result {
    font-size: 21px;
  }

  .test__completed-text {
    font-size: 10px;
  }

  .test__completed-endActions {
    margin-top: 20px;
  }

  .test__endActions-btn {
    font-size: 10px;
    min-height: 30px;
  }

  .test__wrapper-review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .test__completed-review {
    width: 100%;
    margin-top: 13px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .test__completed-rating img+img,
  .test__completed-rating img+svg,
  .test__completed-rating svg+img,
  .test__completed-rating svg+svg {
    margin-left: 2.5px;
  }

  .test__completed-rating img,
  .test__completed-rating svg {
    width: 18px;
    height: 18px;
  }

  .test__completed-textarea {
    height: 74px;
    padding: 10px;
    margin-top: 10px;
  }

  .test__content-title {
    font-size: 15px;
  }

  .test__content-btn {
    margin-top: 25px;
    max-width: 154px;
    min-height: 32px;
  }

  .test__ask-labelRadio+.test__ask-labelRadio {
    margin-top: 12px;
  }

  .test__ask-checkboxRadio::after {
    width: 10px;
    height: 10px;
  }

  .test__ask-checkboxRadio {
    width: 16px;
    height: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    border: 1.5px solid #4D9EF8;
  }

  .test__ask-textRadio {
    font-size: 10px;
    padding-left: 8px;
  }

  .test__list-item {
    font-size: 9px;
  }

  .test__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .test__info-video iframe,
  .test__info-video video {
    width: 345px;
    height: 195px;
  }

  .test__info-content {
    margin-left: 0;
    margin-top: 10px;
  }

  .test__info-briefly {
    font-size: 12px;
  }

  .test__info-subtitle {
    font-size: 9px;
  }

  .test__info-data {
    margin-top: 14px;
  }

  .test__data-box {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 37px;
    height: 37px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37px;
    flex: 0 0 37px;
  }

  .test__data-img {
    width: 18px;
    height: 22px;
  }

  .test__data-container {
    margin-left: 12px;
  }

  .test__data-text {
    font-size: 9px;
  }

  .test__data-link {
    font-size: 9px;
  }

  .test__info-wrapper {
    margin-top: 31px;
  }

  .test__info-completed-title {
    font-size: 12px;
  }

  .test__info-completed-wrapper {
    margin-top: 11px;
  }

  .test__info-completed-text {
    font-size: 9px;
    padding-right: 10px;
  }

  .test__info-completed-btn {
    font-size: 8px;
    width: 83px;
    min-height: 21px;
  }

  .test__info-btn+.test__info-btn {
    margin-left: 24px;
  }

  .test__info-btn {
    font-size: 10px;
    width: 135px;
    min-height: 29px;
  }

  .courses__list-item {
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 22px;
    margin-top: 30px;
  }

  .courses__item-level {
    font-size: 12px;
  }

  .courses__none-items {
    font-size: 20px;
    margin-top: 20px;
  }

  .courses__item-title {
    font-size: 15px;
    margin-top: 6px;
  }

  .courses__item-favorit svg,
  .courses__item-favorit img {
    width: 12px;
    height: 18px;
  }

  .courses__item-favorit {
    width: 39px;
    height: 39px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 39px;
    flex: 0 0 39px;
    border: 1px solid #0491FB;
  }

  .courses__item-text {
    font-size: 10px;
    margin-top: 9px;
  }

  .courses__item-footer {
    margin-top: 11px;
  }

  .courses__item-img {
    width: 28px;
    height: 28px;
  }

  .courses__item-name {
    font-size: 11px;
  }

  .courses__item-status {
    font-size: 7px;
  }

  .courses__item-btn {
    max-width: 122px;
    min-height: 25px;
    font-size: 10px;
  }

  .cource__more-list {
    margin-top: 43px;
  }
}

@media (max-width: 900px) {

  .test__wrapper-body {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 68%;
    flex: 0 1 68%;
    width: 68%;
  }

  .test__info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .test__info-btnBox {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .title-course {
    font-size: 26px;
  }

  .cource__content-box {
    padding: 17px 105px 17px 20px;
  }

  .course__list-item+.course__list-item {
    margin-top: 11px;
  }



  .cource__tab-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tabs__course {
    margin-top: 45px;
  }

  .cource__level-item {
    font-size: 14px;
  }

  .cource__more {
    font-size: 10px;
  }

  .test__wrapper {
    margin-top: 30px;
  }

  .test__wrapper-sidebar {
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  }

  .test__sidebar-box+.test__sidebar-box {
    margin-top: 20px;
  }

  .test__container {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
  }

  .test__wrapper-completed .test__completed+.test__completed {
    margin-top: 25px;
  }

  .test__wrapper-completed .test__completed {
    width: 100%;
  }

  .test__wrapper-completed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .test__ask-wrapper {
    margin-top: 16px;
  }

  .test__completed {
    padding: 15px 10px;
  }

  .test__completed-endActions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .test__endActions-btn+.test__endActions-btn {
    margin-top: 13px;
  }

  .test__endActions-btn {
    width: 60%;
  }

  .test__content-btn {
    margin-top: 20px;
  }

  .test__info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .test__info-data-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    margin-left: 30px;
  }

  .test__info-wrapper {
    margin-top: 20px;
  }

  .test__completed-info {
    width: 75%;
  }

  .courses__list-item {
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 17px;
    margin-top: 22px;
  }

  .courses__item-container {
    padding-right: 10px;
  }

  .courses__item-level {
    font-size: 9px;
  }

  .courses__none-items {
    font-size: 16px;
    margin-top: 20px;
  }

  .courses__item-title {
    font-size: 11px;
    margin-top: 4px;
  }

  .courses__item-favorit svg,
  .courses__item-favorit img {
    width: 9px;
    height: 13px;
  }

  .courses__item-favorit {
    width: 29px;
    height: 29px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29px;
    flex: 0 0 29px;
  }

  .courses__item-text {
    font-size: 7px;
    margin-right: 6px;
  }

  .courses__item-footer {
    margin-top: 8px;
  }

  .courses__item-footer-inner {
    padding-right: 10px;
  }

  .courses__item-img-box {
    margin-top: 3px;
  }

  .courses__item-img+.courses__item-img {
    margin-left: 3px;
  }

  .test__sidebar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .test__sidebar-num-int {
    margin-left: auto;
    margin-right: auto;
  }

  .test__sidebar-num {
    font-size: 22px;
  }

  .courses__item-img {
    width: 21px;
    height: 21px;
  }

  .courses__item-footer-box {
    margin-left: 5px;
  }

  .courses__item-name {
    font-size: 8px;
  }

  .courses__item-status {
    font-size: 5px;
    margin-top: 3px;
  }

  .courses__item-btn {
    max-width: 91px;
    min-height: 19px;
    font-size: 7px;
  }

  .cource__more-list {
    margin-top: 33px;
  }
}

@media (max-width: 500px) {
  .title-course {
    font-size: 21px;
  }

  .cource__content-box {
    padding: 17px 13px;
    margin-top: 20px;
  }

  .cource__content-list {
    padding-left: 20px;
  }

  .course__list-item::after {
    width: 10px;
    height: 10px;
    left: -17px;
  }

  .course__list-item::before {
    width: 6px;
    height: 6px;
    left: -15px;
  }



  .cource__level {
    margin-top: 5px;
  }

  .test__wrapper {
    margin-top: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .test__wrapper-info .test__wrapper-sidebar {
    display: block;
  }

  .test__wrapper-sidebar {
    padding: 15px 12px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .test__wrapper-sidebar-mobil {
    display: block;
    margin-top: 23px;
  }

  .test__wrapper-body {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .test__sidebar-container .test__sidebar-box+.test__sidebar-box {
    margin-top: 0;
  }

  .test__sidebar-container .test__sidebar-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .test__sidebar-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .test__sidebar-container .test__sidebar-title {
    max-width: 100px;
    width: 100%;
    text-align: center;
  }

  .test__sidebar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .test__sidebar-title {
    margin-top: 8px;
  }

  .test__sidebar-block {
    margin-top: 15px;
  }

  .test__sidebar-block-item+.test__sidebar-block-item {
    margin-top: 14px;
  }

  .test__container {
    padding: 18px 12px;
  }

  .test__wrapper-completed .test__completed+.test__completed {
    display: none;
  }

  .test__wrapper-completed-mobil {
    display: block;
  }

  .test__container-title {
    font-size: 16px;
  }

  .test__ask {
    margin-top: 25px;
  }

  .test__ask-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .test__ask-btn+.test__ask-btn {
    margin-top: 12px;
  }

  .test__ask-btn {
    max-width: 80%;
  }


  .test__endActions-btn {
    width: 100%;
  }

  .test__content {
    margin-top: 25px;
  }

  .test__content-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .test__info-video iframe,
  .test__info-video video {
    width: 100%;
    height: auto;
    min-height: 220px;
  }

  .test__info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .test__info-data-box {
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .test__completed-info {
    width: 100%;
  }

  .courses__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .courses__item-footer {
    margin-top: 15px;
  }

  .cource__more-list {
    margin-top: 30px;
  }
}

/* ЗАГОЛОВКИ И ОПИСАНИЯ СЕКЦИЙ КОНЕЦ */

.content {
  max-width: 1660px;
  padding: 0 35px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.main_inner {
  max-width: 1715px;
  padding: 0 35px;
  box-sizing: border-box;
  width: 100%;
  margin: 30px auto 100px;
}

@media screen and (max-width: 1366px) {

  .content,
  .main_inner {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1024px) {

  .content,
  .main_inner {
    padding: 0 24px;
  }
}

@media screen and (max-width: 850px) {
  .content {
    padding: 0 13px;
  }

  .main_inner {
    padding: 0 13px;
    margin: 30px auto 70px;
  }
}

/* ЗАГОЛОВКИ И ОПИСАНИЯ СЕКЦИЙ */

.title {
  font-family: 'gilroy-bold', sans-serif;
  font-size: 61px;
  line-height: 74px;
  color: #5C5C5C;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 0 56px;
  max-width: 1590px;
  margin: 0 auto;
}

.title:before,
.title:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #D9D9D9;
  border-radius: 13.5824px;
}

.desc {
  text-align: center;
  color: #424242;
  font-size: 28px;
  line-height: 33px;
  margin: 20px auto 0;
}

.desc_partners {
  max-width: 814px;
}


@media screen and (max-width: 1366px) {
  .title {
    font-size: 45px;
    line-height: 54px;
    grid-gap: 0 41px;
  }

  .desc {
    font-size: 21px;
    line-height: 25px;
  }

  .desc_partners {
    max-width: 599px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 40px;
    line-height: 48px;
    grid-gap: 0 22px;
  }

  .desc {
    font-size: 20px;
    line-height: 24px;
  }

}

@media screen and (max-width: 768) {
  .title {
    font-size: 35px;
    line-height: 42px;
    grid-gap: 0 29px;
  }

  .desc {
    font-size: 19px;
    line-height: 22px;
    margin: 22px auto 0;
  }

}

@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 36px;
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .title:after,
  .title:before {
    display: none;
  }

  .desc {
    font-size: 16px;
    line-height: 19px;
    margin: 18px auto 0;
  }

  .desc_partners {
    max-width: 257px;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* tabs start */
.tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  list-style: none;
}

.tabs__item {
  margin: 0 30px 14px 0;
}

.tabs__link,
.tabs__link:visited {
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4D9EF8;
  padding: 15px 50px;
  border: 2.81667px solid #4D9EF8;
  box-sizing: border-box;
  border-radius: 321.1px;
  text-decoration: none;
  transition: .5s;
  overflow: visible;
}

.tabs__link.active,
.tabs__link.active:visited {
  color: #FFFFFF;
  background: #EB3624;
  border-color: #EB3624;
  filter: drop-shadow(0px 0px 32.11px rgba(235, 54, 36, 0.44));
}

.tabs__link:hover:not(.active),
.tabs__link:focus:not(.active) {
  color: #FFFFFF;
  background: #0491FB;
}

.tabs_document {
  margin: 77px 0 58px;
}

@media screen and (max-width: 1366px) {
  .tabs_document {
    margin: 55px 0 51px;
  }

  .tabs__link,
  .tabs__link:visited {
    font-size: 14px;
    line-height: 17px;
    padding: 11px 44px;
  }

  .tabs__item {
    margin: 0 22px 14px 0;
  }
}

@media screen and (max-width: 1024px) {
  .tabs_document {
    margin: 52px 0 34px;
  }

  .tabs__link,
  .tabs__link:visited {
    font-size: 13.1716px;
    line-height: 16px;
    padding: 10px 42px;
  }

  .tabs__item {
    margin: 0 21px 14px 0;
  }
}

@media screen and (max-width: 768px) {
  .tabs_document {
    margin: 39px 0 22px;
  }

  .tabs__link,
  .tabs__link:visited {
    font-size: 9.94188px;
    line-height: 12px;
    padding: 8px 22px;
    border-width: 1px;
  }

  .tabs__item {
    margin: 0 16px 14px 0;
  }

}

@media screen and (max-width: 500px) {
  .tabs_document {
    margin: 20px 0 4px;
  }

  .tabs__link,
  .tabs__link:visited {
    font-size: 8px;
    line-height: 10px;
    padding: 6px 15px;
  }

  .tabs__item {
    margin: 0 11px 14px 0;
  }
}